@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');

body {
  font-family:"Frank Ruhl Libre", serif;
  color: #363636;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Global classes */
.grid {
  @media (min-width: 768px) {
    display: grid;
  }
}
.flex {
  @media (min-width: 768px) {
    display: flex;
  }
}